{% extends 'base.html.twig' %}

{% block title %}Post Details{% endblock %}

{% block body %}
    <div class="background-image d-flex justify-content-center align-items-center pt-2">
        <div class="card shadow-lg p-4" style="width: 40rem;">
            <h1 class="card-title text-center mb-4">Post Details</h1>
            
            <table class="table table-bordered mb-4">
                <tbody>
                    <tr>
                        <th scope="row" class="bg-light">Id</th>
                        <td>{{ post.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Title</th>
                        <td>{{ post.title }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Subtitle</th>
                        <td>{{ post.subtitle }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Content</th>
                        <td>{{ post.content }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Content 1</th>
                        <td>{{ post.content1 }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Content 2</th>
                        <td>{{ post.content2 }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Image</th>
                        <td>{{ post.image }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Created At</th>
                        <td>{{ post.createdAtPost ? post.createdAtPost|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Is Published</th>
                        <td>{{ post.isPublished ? 'Yes' : 'No' }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between mt-3">
                <a href="{{ path('app_posts_index') }}" class="btn btn-secondary">Retourner</a>
                <a href="{{ path('app_posts_edit', {'id': post.id}) }}" class="btn btn-primary">Editer</a>
            </div>

            {{ include('posts/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}