{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-lg-10 col-12">

            <h1 class="mb-4">Derniers articles</h1>

            {# Première ligne (post[0] grand à gauche, post[1], post[2] empilés à droite) #}
            <div class="row mb-4">
                <div class="col-lg-8 col-12 mb-3 mb-lg-0">
                    {% if posts[0] is defined %}
                        <div class="card h-100 shadow-sm">
                            {% if posts[0].image %}
                                <img src="{{ asset('uploads/images/' ~ posts[0].image) }}" class="card-img-top" alt="{{ posts[0].title }}">
                            {% endif %}
                            <div class="card-body">
                                <h3>{{ posts[0].title }}</h3>
                                <p>{{ posts[0].subtitle }}</p>
                                <small class="text-muted">
                                    Auteur : {{ posts[0].auteur.pseudo }} <br>
                                    Catégorie : {{ posts[0].category.nameCategory }}
                                </small>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div class="col-lg-4 col-12">
                    <div class="row">
                        {% for i in 1..2 %}
                            {% if posts[i] is defined %}
                                <div class="col-12 mb-3">
                                    <div class="card shadow-sm h-100">
                                        {% if posts[i].image %}
                                            <img src="{{ asset('uploads/images/' ~ posts[i].image ? 'uploads/images/news.png')}}" class="card-img-top" alt="{{ posts[i].title }}">
                                        {% endif %}
                                        <div class="card-body">
                                            <h5>{{ posts[i].title }}</h5>
                                            <p>{{ posts[i].subtitle|slice(0,80) ~ '...' }}</p>
                                            <small class="text-muted">
                                                Auteur : {{ posts[i].auteur.pseudo }} <br>
                                                Catégorie : {{ posts[i].category.nameCategory }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>

            {# Deuxième ligne (posts[3], posts[4] petits à gauche, posts[5] grand à droite) #}
            <div class="row">
                <div class="col-lg-4 col-12 order-lg-1 order-2">
                    <div class="row">
                        {% for i in 3..4 %}
                            {% if posts[i] is defined %}
                                <div class="col-12 mb-3">
                                    <div class="card shadow-sm h-100">
                                        {% if posts[i].image %}
                                            <img src="{{ asset('uploads/images/' ~ posts[i].image) }}" class="card-img-top" alt="{{ posts[i].title }}">
                                        {% endif %}
                                        <div class="card-body">
                                            <h5>{{ posts[i].title }}</h5>
                                            <p>{{ posts[i].subtitle|slice(0,80) ~ '...' }}</p>
                                            <small class="text-muted">
                                                Auteur : {{ posts[i].auteur.pseudo }} <br>
                                                Catégorie : {{ posts[i].category.nameCategory }}
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="col-lg-8 col-12 order-lg-2 order-1 mb-3 mb-lg-0">
                    {% if posts[5] is defined %}
                        <div class="card h-100 shadow-sm">
                            {% if posts[5].image %}
                                <img src="{{ asset('uploads/images/' ~ posts[5].image) }}" class="card-img-top" alt="{{ posts[5].title }}">
                            {% endif %}
                            <div class="card-body">
                                <h3>{{ posts[5].title }}</h3>
                                <p>{{ posts[5].subtitle }}</p>
                                <small class="text-muted">
                                    Auteur : {{ posts[5].auteur.pseudo }} <br>
                                    Catégorie : {{ posts[5].category.nameCategory }}
                                </small>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
