{% extends 'base.html.twig' %}

{% block title %}Comment Details{% endblock %}

{% block body %}
    <div class="background-image d-flex justify-content-center align-items-center">
        <div class="card shadow-lg p-4" style="width: 30rem;">
            <h1 class="card-title text-center mb-4">Comment Details</h1>
            
            <table class="table table-bordered mb-4">
                <tbody>
                    <tr>
                        <th scope="row" class="bg-light">Id</th>
                        <td>{{ comment.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Comment</th>
                        <td>{{ comment.commentText }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Posted At</th>
                        <td>{{ comment.createdAtComment ? comment.createdAtComment|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between mt-3">
                <a href="{{ path('app_comments_index') }}" class="btn btn-secondary">Retourner</a>
            </div>

            {{ include('comments/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}