{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
<div class="background-image d-flex justify-content-center align-items-start pt-5">
<div class="container bg-light bg-opacity-75 rounded p-4 shadow">
    <h1>User index</h1>

    <table class="responsive-table w-100">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Pseudo</th>
                <th>Opption</th>
                <th>CreatedAtUser</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td data-label="Id">{{ user.id }}</td>
                <td data-label="Mail">{{ user.email }}</td>
                <td data-label="Rôle">{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td data-label="Pseudo">{{ user.pseudo }}</td>
                <td data-label="Opption">{{ user.opption ? 'Oui' : 'Non' }}</td>
                <td data-label="Date">{{ user.createdAtUser ? user.createdAtUser|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                   <a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-sm btn-secondary w-100 mb-1">Détails</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock %}
