{% extends 'base.html.twig' %}

{% block title %}Contact Details{% endblock %}

{% block body %}
    <div class="background-image d-flex justify-content-center align-items-center">
        <div class="card shadow-lg p-4" style="width: 35rem;">
            <h1 class="card-title text-center mb-4">Contact Details</h1>
            
            <table class="table table-bordered mb-4">
                <tbody>
                    <tr>
                        <th scope="row" class="bg-light">Id</th>
                        <td>{{ contact.id }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Title</th>
                        <td>{{ contact.title }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Subject</th>
                        <td>{{ contact.sujet }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Message</th>
                        <td>{{ contact.messageContact }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Email</th>
                        <td>{{ contact.emailContact }}</td>
                    </tr>
                    <tr>
                        <th scope="row" class="bg-light">Created At</th>
                        <td>{{ contact.createdAtContact ? contact.createdAtContact|date('Y-m-d H:i:s') : '' }}</td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex justify-content-between mt-3">
                <a href="{{ path('app_contacts_index') }}" class="btn btn-secondary">Retourner</a>
            </div>

            {{ include('contacts/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}